* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */

    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-family: 'DynaPuff', cursive;
    font-size: 62.5%;
    height: 100%;

    /* Does NOT work on Safari */
    /* scroll-behavior: smooth; */
}

body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    height: 100vh;
}

.page-header {
    margin-top: 2rem;
    font-size: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.grid-container {
    display: grid;
    gap: 1px;
    height: 500px;
    width: 500px;
    border-radius: 2px;
    border: solid 1px #aaa;
    background-color: #aaa;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    overflow: hidden;
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-size: 1.3rem;
}

#btn {
    font-family: inherit;
    background-color: yellow;
    border: solid 1px black;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.button-container {
    display: flex;
    gap: 1rem;
}

.block {
    display: inline-block;
    background-color: white;
}

.page-footer {
}
